In [ ]:
# Download dataset from kaggle https://www.kaggle.com/datasets/ananaymital/us-used-cars-dataset/download?datasetVersionNumber=1

In [ ]:
# import pandas as pd
# import dask.dataframe as dd
# # Load the CSV file
# file_path = 'used_cars_data.csv'

# df = dd.read_csv(file_path, dtype={'bed': 'object',
#        'bed_height': 'object',
#        'bed_length': 'object',
#        'cabin': 'object',
#        'sp_id' : 'float64',
#        'dealer_zip' : 'object'})
# # Compute and print the first few rows of the DataFrame
# df.head()

In [1]:
import pandas as pd

file_path = 'data/used_cars_data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Now 'df' contains the data from the CSV file
print(df)

C:\Users\15128\AppData\Local\Temp\ipykernel_12212\2344000404.py:6: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

                       vin back_legroom  bed bed_height bed_length  \
0        ZACNJABB5KPJ92081      35.1 in  NaN        NaN        NaN
1        SALCJ2FX1LH858117      38.1 in  NaN        NaN        NaN
2        JF1VA2M67G9829723      35.4 in  NaN        NaN        NaN
3        SALRR2RV0L2433391      37.6 in  NaN        NaN        NaN
4        SALCJ2FXXLH862327      38.1 in  NaN        NaN        NaN
...                    ...          ...  ...        ...        ...
3000035  2GNAXJEV0J6261526      39.7 in  NaN        NaN        NaN
3000036  1GNERFKW0LJ225508      38.4 in  NaN        NaN        NaN
3000037  3FA6P0HD3GR134062      38.3 in  NaN        NaN        NaN
3000038  SAJAJ4BNXHA968809        35 in  NaN        NaN        NaN
3000039  JN8AT2MT1HW400805      37.9 in  NaN        NaN        NaN

               body_type cabin       city  city_fuel_economy  \
0        SUV / Crossover   NaN    Bayamon                NaN
1        SUV / Crossover   NaN   San Juan                NaN
2                  Sedan   NaN   Guaynabo               17.0
3        SUV / Crossover   NaN   San Juan                NaN
4        SUV / Crossover   NaN   San Juan                NaN
...                  ...   ...        ...                ...
3000035  SUV / Crossover   NaN  Fairfield               26.0
3000036  SUV / Crossover   NaN    Vallejo               18.0
3000037            Sedan   NaN       Napa                NaN
3000038            Sedan   NaN  Fairfield               30.0
3000039  SUV / Crossover   NaN       Napa               26.0

         combine_fuel_economy  ...  transmission         transmission_display  \
0                         NaN  ...             A  9-Speed Automatic Overdrive
1                         NaN  ...             A  9-Speed Automatic Overdrive
2                         NaN  ...             M               6-Speed Manual
3                         NaN  ...             A  8-Speed Automatic Overdrive
4                         NaN  ...             A  9-Speed Automatic Overdrive
...                       ...  ...           ...                          ...
3000035                   NaN  ...             A                    Automatic
3000036                   NaN  ...             A                    Automatic
3000037                   NaN  ...             A  6-Speed Automatic Overdrive
3000038                   NaN  ...             A                    Automatic
3000039                   NaN  ...             A                    Automatic

         trimId        trim_name  vehicle_damage_category wheel_system  \
0        t83804     Latitude FWD                      NaN          FWD
1        t86759            S AWD                      NaN          AWD
2        t58994             Base                      NaN          AWD
3        t86074       V6 HSE AWD                      NaN          AWD
4        t86759            S AWD                      NaN          AWD
...         ...              ...                      ...          ...
3000035  t72936      1.5T LT FWD                      NaN          FWD
3000036  t85763           LS FWD                      NaN          FWD
3000037  t57569               SE                      NaN          FWD
3000038  t65977  20d Premium AWD                      NaN          AWD
3000039  t76529    2017.5 SV FWD                      NaN          FWD

        wheel_system_display wheelbase    width  year
0          Front-Wheel Drive  101.2 in  79.6 in  2019
1            All-Wheel Drive  107.9 in  85.6 in  2020
2            All-Wheel Drive  104.3 in  78.9 in  2016
3            All-Wheel Drive    115 in  87.4 in  2020
4            All-Wheel Drive  107.9 in  85.6 in  2020
...                      ...       ...      ...   ...
3000035    Front-Wheel Drive  107.3 in  72.6 in  2018
3000036    Front-Wheel Drive  120.9 in  78.6 in  2020
3000037    Front-Wheel Drive  112.2 in  83.5 in  2016
3000038      All-Wheel Drive  111.6 in  81.7 in  2017
3000039    Front-Wheel Drive  106.5 in  72.4 in  2017

[3000040 rows x 66 columns]

In [2]:
columns_to_drop = ['savings_amount', 'width', 'description', 'engine_type', 'sp_id', 'listing_id',
                   'power', 'torque', 'trimId', 'trim_name', 'vehicle_damage_category', 'major_options',
                   'main_picture_url', 'length', 'is_oemcpo', 'is_cpo', 'is_certified', 'height',
                   'front_legroom', 'fleet', 'combine_fuel_economy', 'cabin', 'bed_length', 'bed_height',
                   'bed', 'back_legroom', 'wheelbase']

dropped_df = df.drop(columns=columns_to_drop, axis=1)

In [3]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000040 entries, 0 to 3000039
Data columns (total 39 columns):
 #   Column                Dtype
---  ------                -----
 0   vin                   object
 1   body_type             object
 2   city                  object
 3   city_fuel_economy     float64
 4   daysonmarket          int64
 5   dealer_zip            object
 6   engine_cylinders      object
 7   engine_displacement   float64
 8   exterior_color        object
 9   frame_damaged         object
 10  franchise_dealer      bool
 11  franchise_make        object
 12  fuel_tank_volume      object
 13  fuel_type             object
 14  has_accidents         object
 15  highway_fuel_economy  float64
 16  horsepower            float64
 17  interior_color        object
 18  isCab                 object
 19  is_new                bool
 20  latitude              float64
 21  listed_date           object
 22  listing_color         object
 23  longitude             float64
 24  make_name             object
 25  maximum_seating       object
 26  mileage               float64
 27  model_name            object
 28  owner_count           float64
 29  price                 float64
 30  salvage               object
 31  seller_rating         float64
 32  sp_name               object
 33  theft_title           object
 34  transmission          object
 35  transmission_display  object
 36  wheel_system          object
 37  wheel_system_display  object
 38  year                  int64
dtypes: bool(2), float64(10), int64(2), object(25)
memory usage: 852.6+ MB

In [ ]:
# dropped_df.owner_count = dropped_df.owner_count.fillna(0.0)
# dropped_df.theft_title = dropped_df.theft_title.fillna(False)
# dropped_df.seller_rating = dropped_df.seller_rating.fillna(0.000000)
# dropped_df = dropped_df.dropna(subset=['mileage'])
# dropped_df = dropped_df.salvage.fillna(False)

In [ ]:
dropped_df.info()

In [4]:
csv_filename = "Data/cleaned.csv"
dropped_df.to_csv(csv_filename, index=False)

In [ ]:
# # Load your Dask DataFrame
# df = dd.read_csv('used_cars_data.csv')

# # Get the first 100 rows of the Dask DataFrame as a pandas DataFrame
# test = df.head(100).compute()

# # Now you have a pandas DataFrame, and you can work with it as usual
# my_df = pd.DataFrame(test)

In [ ]:
# test = df.head(100, npartitions=10)
# my_df= pd.DataFrame(test)

In [ ]:
# Get data types of each column in the Dask DataFrame
data_types = df.dtypes

# Print the data types
data_types

In [ ]:
# List all the columns in the DataFrame
columns_list = df.columns.tolist()

# Print the list of columns
print(columns_list)

In [ ]:
for column in columns:
    print(column)